numpy
scipy
imageio-ffmpeg
pytest
argschema==2.0.2
h5py
matplotlib
pandas
moto
boto3
typing_extensions
tifffile
scikit-image
networkx<=2.8.8
scikit-learn
pydantic
suite2p==0.10.2
deepcell @ git+https://github.com/AllenInstitute/DeepCell.git
